<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="menu.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- NAVIGATION BEGIN -->
<div class="nav">
<label for="toggle">&#9776;</label> <!-- hamburger image -->
<input type="checkbox" id="toggle"/> <!-- toggles hamburger menu as a checkbox (will be visually hidden with css) -->
<div class="menu">
<a href="#">Business</a>
<a href="#">Services</a>
<a href="#">Learn More</a>
<a href="#"><span>Free Trial</span></a>
</div>
</div>
<!-- NAVIGATION END -->
<%= content %>
</body>
</html>
